/* Colors and fonts */


body {
	background: rgb(233, 201, 177);
	color: rgb(10, 10, 10);
	font-family:'Raleway', sans-serif;
	font-size: 17px 
}

h1, h2 {
	font-family: 'Limelight', cursive;
 } 


h1 {
    color: rgb(55, 0, 40);
    font-size: 40px
}

h2 {
    color: rgb(55, 0, 4);
    font-size: 24px;
    font-weight: lighter;
}

a { 
    color: rgb(10, 10, 10);
    font-size: 45px;
    text-decoration: none;
}

a:hover {
    color: rgb(233, 201, 177);
} 


/* Customs design with class */

.container {
	width: 700px;
    margin: 40px auto;

}

@media (max-width: 750px) {
    .container {
    	width: 600px;
  }  	
}

@media (max-width: 500px) {
    .container {
    	width: 400px;
  }  	
}

.card-black {
	background: lightgrey;
    padding: 50px;
    margin: 30px;
    box-shadow: 0px 10px 30px rgba(10,10,10,0.1);
    border-radius: 5px;
    text-align: center;
}


.card-black p{
   font-family: "Raleway" sans-serif;
}

.img-circle {
	border-radius: 50%;
}

.img-circles{
    border-radius: 50%;
}

.btn-blue{
    background-color: rgb(55, 0, 4);
    color: lightgrey;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 5px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i:hover {
	color: rgb(233, 201, 177);
}

#introduction p {
    margin-top: 30px;
}









