/* Colors and fonts */


body {
	background: rgb(10,10,10);
	color: rgb(230,230,230);
	font-family: "Lora", serif;
	font-size: 17px 
}

h1, h2 {
	font-family: "Poppins", sans-serif;
  }

h1 {
    color: rgb(205,92,92);
    font-size: 40px
}

h2 {
    color: rgb(205,92,92);
    font-size: 24px 
    font-weight: lighter;
}

a { 
    color: rgb(230,230,230);
    font-size: 24px
}
